.DS_Store
.idea/
.ipynb_checkpoints/
__pycache__/
DOB_Job_Application_Filings.csv
DOB_Permit_Issuance.csv
*.csv
*.pdf
file_download_proofing.ipynb
file_extraction_proofing.ipynb
pdf_html.txt
temp.html
